In [2]:
import pandas as pd

df= pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder= LabelEncoder()

In [6]:
lbl_encoder.fit_transform(df[['color']])

C:\Users\Rahul\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [7]:
lbl_encoder.transform([['red']])

C:\Users\Rahul\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2])

In [9]:
lbl_encoder.transform([['blue']])

array([0])

In [10]:
lbl_encoder.transform([['green']])

array([1])

# Ordinal Encoding

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [13]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [14]:
# create an instance for OrdinalEncoder
encoder= OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [15]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [16]:
encoder.transform([['small']])

C:\Users\Rahul\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])