In [1]:
import numpy as np
import pandas as pd

In [2]:
# set the random seed for reproducibility
np.random.seed(123)

# create dataframe with two classes
n_sample=1000
class_0_ratio= 0.9
n_class_0= int(n_sample* class_0_ratio)
n_class_1= n_sample - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [22]:
# create dataframe with imbalance dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]* n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1]* n_class_1
})

In [7]:
df= pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -0.367419  -0.016102       0
1   0.575273   0.747010       0
2   0.439351  -0.257842       0
3  -0.728152   0.561622       0
4  -0.888530   0.295353       0

In [8]:
df.tail()

     feature_1  feature_2  target
995   2.300311   3.140850       1
996   2.777139   1.428622       1
997   2.589859   2.675585       1
998   0.013286   2.244925       1
999   1.660141   3.691645       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [10]:
# upsampling
df_minority= df[df['target']==1]
df_majority= df[df['target']==0]

In [11]:
from sklearn.utils import resample

In [12]:
df_minority_upsampled= resample(df_minority, replace=True, #sample with replacement
         n_samples= len(df_majority),
         random_state=42
        )

In [13]:
df_minority_upsampled.shape

(900, 3)

In [14]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.998884   1.803756       1
992   2.361990   0.739604       1
914   0.932880   0.904999       1
971   2.409614   3.507181       1
960   1.874774   3.425993       1

In [19]:
df_upsampled= pd.concat([df_majority, df_minority_upsampled])

In [20]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [21]:
# Downsampling

In [23]:
# set the random seed for reproducibility
np.random.seed(123)

# create dataframe with two classes
n_sample=1000
class_0_ratio= 0.9
n_class_0= int(n_sample* class_0_ratio)
n_class_1= n_sample - n_class_0

In [24]:
# create dataframe with imbalance dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]* n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1]* n_class_1
})

In [27]:
df= pd.concat([class_0, class_1]).reset_index(drop=True)

In [28]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [29]:
# downsampling
df_minority= df[df['target']==1]
df_majority= df[df['target']==0]

In [30]:
df_majority_downsampled= resample(df_majority, replace=False, 
         n_samples= len(df_minority),
         random_state=42
        )

In [32]:
df_majority_downsampled.shape

(100, 3)

In [33]:
df_downsampled= pd.concat([df_minority, df_majority_downsampled])

In [34]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64